@inject UserManager<ApplicationUser> userManger
@inject SignInManager<ApplicationUser> singManger
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Dev_space</title>

    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <div class="my-container">
        <div class="layout">
            <div class="herder">
                <h1 class="logo"><span>Dev</span>Space</h1>
               <form asp-controller="Home" asp-action="Search" method="post">
                <div class="search-box">
                        <input name="userName" type="search" class="search-input " placeholder="اكتب ما تريد البحث عنه" >
                        <div class="image-container"><img src="~/lib/assites/Icons/search-normal.svg" alt="search"></div>
                </div>
                </form>
            </div>
            <div class="body">

                <div class="right-sidebar">
                    
                    <div class="navigation" style="margin-top:40px">
                        <a class="nav " asp-controller="Home" asp-action="Index" > <img src="~/lib/assites/Icons/home.svg" alt=""> الرئيسية</a>
                        <a class="nav" asp-controller="Profile" asp-action="Index" > <img src="~/lib/assites/Icons/profile.svg" alt=""> الملف الشخصي</a>
                        <a class="nav" asp-controller="Notification" asp-action="notification" > <img src="~/lib/assites/Icons/notification.svg" alt=""> التنبيهات</a>
                        <a class="nav" asp-controller="Bookmarks" asp-action="bookmarks" > <img src="~/lib/assites/Icons/Bookmark.svg" alt=""> المحفوظات</a>
                        <a class="nav logout" asp-controller="Accounts" asp-action="Logout"> <img src="~/lib/assites/Icons/Logout.svg" alt=""> تسجيل الخروج</a>
                    </div>
                </div>

                <div class="center-side">
                    <main role="main" style="height:100%">
                    @RenderBody()

                    </main>  
                    <div class="more-popup-shadow">
                                    <div class="popup-more-option">
                                    <button class="btn btn-secondary btn-hover">مشاركة</button>
                                    <button class="btn btn-secondary btn-hover" onclick="showAndHide('more-popup-shadow')">الغاء</button>
                                    </div>
                   </div>
                </div>

                <div class="left-sidebar">
                    <div class="profile" href="#">
                        <div class="short-profile-background" style="height: 80px; margin-bottom: -16px; width: 200px;"></div>
                        <div class="flex" style="gap: 10px;align-items: end; justify-content: center;">

                            <div class="image-container" style="width: 60px;"><img style="border-radius: 50%; border: 1px solid #00000026;" src="assites/images/Profile.png" alt=""></div>
                            <div class="short-profile-info">
                                @if (singManger.IsSignedIn(User))
                                {
                                    <p class="name">@((await userManger.GetUserAsync(User)).Name)</p>
                                    <p class="user-name">@((await userManger.GetUserAsync(User)).UserName)</p>
                                }
                            </div>
                        </div>
                            <div class="flex" style="justify-content: center; gap: 20px; margin-top: 10px; align-items: end;">
                                <div class="followers flex column align-center">
                                    <p style="font-size: 17px; font-weight: bold;">@ViewBag.followMe</p>
                                    <small style="margin-top: -5px; display: block;">متابِعا</small>
                                </div>
                                <div class="following flex column align-center">
                                    <p style="font-size: 17px; font-weight: bold;">@ViewBag.followHim</p>
                                    <small style="margin-top: -5px; display: block;">متابَعا</small>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>