@inject UserManager<ApplicationUser> userManger
@model RegisterVeiwModel

@{
    var user = await userManger.GetUserAsync(User);
}
<script>
    document.querySelector(".navigation > a:nth-child(2)").classList.add("active-bar");
</script>

<div class="profile-page" style="padding-bottom:200px">
    

    @*twitt edit popup*@
    <div class="twit-edite">
        <div class="input-popup-shadow" style="display: block;">
            <div class="popup-input">
                <form enctype="multipart/form-data" method="post" asp-controller="Post" asp-action="EditPost">
                <input name="idPost" id="input-edit-twitt-id"  hidden />
                <p>تعديل التغريدة</p>
                <hr>
                <div class="popup-input-box">
                    <div class="image-container pro"><img src="~/Images/Personal/@(user.ImgUser)" alt="Profile"></div>
                    <div style="display: grid; grid-template-columns:1fr 1fr; width:90%; gap:10px">
                        <input name="text" id="input-edit-twitt-text" type="text" style="width: 100%; height: 100%; background-color: #F5F5F5; border-radius:10px;padding: 10px;" rows="4" placeholder="اكتب ماتفكر فيه" value="">
                        <div style="overflow:hidden; background-color: gray; width: 100%; height: 150px; border-radius:10px" class="image-container"><img id="edit-twitt-img" style="border-radius: 0px" src="" /></div>
                    </div>
                    <input name="code" id="input-edit-twitt-code" type="text"  class="code-box" placeholder="اكتب الكود" style="direction:ltr; display: block; height:120px; background-color: #F5F5F5;width:90%; border-radius:10px; padding: 10px;">
                </div>
                <div class="action-buttons" style="margin-top: 16px;"> 
                    <input type="submit" class="btn btn-primary" value="نشر">
                    <div class="btn btn-secondary cansle-btn" onclick="showAndHide('twit-edite')" style="display: inline-block;">الغاء</div>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="account-information">
        <div class="image-container header-image">
            <img src="~/Images/Personal/@(user.CoverImgUser)" alt="">
        </div>
        <div class="image-container profile-image">
            <img src="~/Images/Personal/@(user.ImgUser)"  alt="">
        </div>
        <div class="profile-account-info">
            <div class="account-name-and-btn">
                <div class="account-names">
                    <h2 class="name">@(user.Name)</h2>
                    <p class="user-name">@(user.UserName)</p>
                </div>
                <div style="display:flex; gap: 10px">
                    <button class="btn btn-secondary btn-hover" onclick="showAndHide('pass')">تغيير كلمة السر</button>
                    <button class="btn btn-secondary btn-hover" onclick="showAndHide('info')">تعديل الملف الشخصي</button>
                </div>
            </div>
            <p class="account-bio">
                @(user.Description)
            </p>
            <div class="social-accounts-btns">
                    @foreach (var item in ViewBag.MyLink)
                    {
                        if (item.Type == 0 && item.URL != string.Empty)
                        {
                            
                            <a id="linkTwitter" target="_blank" href="@item.URL" class="btn-secondary btn-hover" value><div class="image-container"><img src="~/lib/assites/Icons/social icons/x.svg" alt=""></div></a>
                            
                        }
                        else if(item.Type==1 && item.URL != string.Empty){
                            <a id="linkGithub" target="_blank" href="@item.URL" class="btn-secondary btn-hover"><div class="image-container"><img src="~/lib/assites/Icons/social icons/github.svg" alt=""></div></a>
                        }
                        else if(item.Type == 2 && item.URL != string.Empty){
                            <a id="linkBehance" target="_blank" href="@item.URL" class="btn-secondary btn-hover"><div class="image-container"><img src="~/lib/assites/Icons/social icons/behance.svg" alt=""></div></a>
                        
                        }
                        else if(item.Type == 3 && item.URL != string.Empty){
                        
                            <a id="linkInstgram" target="_blank" href="@item.URL" class="btn-secondary btn-hover"><div class="image-container"><img src="~/lib/assites/Icons/social icons/instagram.svg" alt=""></div></a>
                        }
            
                    }
                
                </div>
            <div class="account-following-info">
                <p class="following">@ViewBag.followMe <span>متابِعا</span></p>
                <p class="following">@ViewBag.followHim <span>متابَعا</span></p>
            </div>
        </div>
        <hr>
    </div>
    <div class="account-twits">  
            @{int counter = 0;}
            @foreach (var post in ViewBag.listPost )
            {
                  
                   <div class="twit-container">
                    <div class="twit-header">
                        <div class="account-info">
                        <div class="image-container pro"><img src="~/Images/Personal/@(user.ImgUser)" alt=""></div>
                        <div class="user-info">
                            <p class="account-name">@(user.Name)</p>
                            <small class="account-username">@(user.UserName)</small>
                        </div>
                        </div>
                        <div class="image-container more-option-btn" onclick="showAndHide('more-popup-shadow');DeletePost('@(post.Id)');EditPost(@counter)"><img src="~/lib/assites/Icons/Options.svg" alt=""></div>
                    </div>
                    <div class="twit-content">
                    <input id="@($"id-post{counter}")" value="@post.Id" hidden/>
                        @if(post.Text != string.Empty)
                        {
                            <pre id="@($"post-text{counter}")" class="content">@post.Text</pre>
                        }
                        @if(post.Codes != null)
                        {
                            @foreach (var code in post.Codes)
                            {
                                <div style="position: relative">
                                    <button onclick="copyCode('code')" class="btn copy-code-btn">نسخ الكود</button>
                                    <pre id="@($"post-code{counter}")" class="code" style="direction: ltr;">@code.CodeText</pre>
                                </div>
                            }
                        }
                        @if(post.Imgs != null)
                        {
                            @foreach (var img in post.Imgs)
                            {
                                <div class="image-container twit-image">
                                    <img id="@($"post-img{counter}")" src="~/Images/Post/@img.pathImg" alt="">
                                </div>
                            }
                        }
                    </div>
                   <div class="twit-intraction-buttons">
                        @{
                    var likeForUser = (post.likes as IEnumerable<Like>).FirstOrDefault(u => u.User == user);
                    if (likeForUser != null)
                    {
                        <button class="like">
                            <div class="image-cntainer share"><img onclick="disLike(this,'@likeForUser.Id','Profile','')" src="~/lib/assites/Icons/Hover-outline-heart.svg" alt=""></div>
                        <p class="like-amount">@((post.likes as IEnumerable<Like>).Count()) اعجاب</p>
                        </button>
                    }
                    else
                    {
                        <button class="like">
                            <div class="image-cntainer share"><img onclick="like(this,'@post.Id','Profile','')" src="~/lib/assites/Icons/outline-heart.svg" alt=""></div>
                        <p class="like-amount">@((post.likes as IEnumerable<Like>).Count()) اعجاب</p>
                        </button>
                    }
                }
                @*
                <button class="comment">
                    <div class="image-cntainer share"><img src="~/lib/assites/Icons/comment.svg" alt=""></div>
                    <p class="comment-amount">13 تعليق</p>
                </button>
                <button class="image-cntainer share"><img src="~/lib/assites/Icons/share.svg" alt=""></button>*@
                    @{                         
                        var archive  = (post.archives as IEnumerable<Archive>).FirstOrDefault(u => u.User == user);
                        if(archive != null)
                    {
                        
                        <butcton class="image-cntainer bookmark"><img onclick="removeBookMark(this,'@archive.Id','Profile','')" src="~/lib/assites/Icons/Hover-outline-bookmark.svg" alt=""></butcton>
                    }
                    else
                    {
                        <butcton class="image-cntainer bookmark"><img onclick="AddBookMark(this,'@post.Id','Profile','')" src="~/lib/assites/Icons/outline-bookmark.svg" alt=""></butcton>

                    }
                 }
                </div>
            </div>
            
                {
                    counter++;
                }
            }
    </div>

    <div class="more-popup-shadow">
        <div class="popup-more-option">
                <a style="text-align:center" class="btn btn-secondary btn-hover" onclick="showAndHide('twit-edite'), showAndHide('more-popup-shadow')">تعديل</a>
                <a style="text-align:center" id="ShareButton" class="btn btn-secondary btn-hover">مشاركة</a>
                <a style="text-align:center" id="DeleteButton" class="btn btn-primary danger btn-hover" >حذف المنشور</a>
                <button  class="btn btn-secondary btn-hover" onclick="showAndHide('more-popup-shadow')">الغاء</button>
        </div>
    </div>

    <div class="edit-popup-shadow info">
        <form asp-action="UpdateUserData" asp-controller="Profile" class="popup-edit"  method="post" enctype="multipart/form-data" >
            <input asp-for="ChangeUserData.Id"  value="@(user.Id)" hidden/>
            <div class="edit-header">
                <div>
                    <div onclick="showAndHide('edit-popup-shadow')" style="cursor: pointer;" class="image-container"><img src="~/lib/assites/Icons/close-x-icone.svg" alt=""></div>
                    <h2>تعديل الملف الشخصي</h2>
                </div>
                    <input type="submit" class="btn btn-primary btn-hover" value="حفظ"/>
            </div>
            <div class="edit-images">

                <div class="image-container header-image">
                    <img id="imgCover" src="~/Images/Personal/@(user.CoverImgUser)" alt="Cover image" onclick="opne('imgCov');">
                    <input asp-for="ChangeUserData.ImgCover" type="file" onchange="loadFile(event,'imgCover')" placeholder="click here" id="imgCov"/>
                </div>
                <div class="image-container profile-image">

                    <img id="imgProfile" src="~/Images/Personal/@(user.ImgUser)" alt="Profile image" onclick="opne('imgPro');">
                    <input asp-for="ChangeUserData.ImgProfile" type="file" onchange="loadFile(event,'imgProfile')" placeholder="click here" id="imgPro" />

                </div>
            </div>
            <div class="edit-other-info">
                <div class="personal-info">
                    <h4>المعلومات الشخصية</h4>
                    <div>
                        <small>الاسم</small>
                        <div class="names-input-boxs">
                            <input asp-for="ChangeUserData.Name" type="text" class="input" placeholder="الاسم" value="@(user.Name)">
                            <span asp-validation-for="ChangeUserData.Name" class="danger"></span>
                        </div>
                    </div>
                    <div>
                        <small>اسم المستخدم</small>
                        <input asp-for="ChangeUserData.UserName" type="text" class="input" placeholder="اسم المستخدم" value="@(user.UserName)">
                        <span asp-validation-for="ChangeUserData.userName" class="danger"></span>
                    </div>
                    <div>
                        
                        <small>النبذه الشخصية</small>
                        <input type="text" style="width:100%;height:80px;" asp-for="ChangeUserData.Discription" cols="30" rows="5" placeholder="النبذه الشخصية"  value="@(user.Description)"/>
                       
                    </div>
                </div>
                <div class="social-accounts-links">
                    <h4>روابط البرامج الاخرى</h4>
                    <div><div class="image-cntainer"><img src="~/lib/assites/Icons/social icons/instagram.svg" alt=""></div><input asp-for="ChangeUserData.LinkInstagram" type="text" placeholder="هنا ضع الرابط"  id="inputLinkInstgram"/></div>
                    <div><div class="image-cntainer"><img src="~/lib/assites/Icons/social icons/x.svg" alt=""></div><input asp-for="ChangeUserData.LinkTwitter" type="text" placeholder="هنا ضع الرابط" id="inputLinkTwitter"/></div>
                    <div><div class="image-cntainer"><img src="~/lib/assites/Icons/social icons/behance.svg" alt=""></div><input asp-for="ChangeUserData.LinkBehance" type="text" placeholder="هنا ضع الرابط" id="inputLinkBehance"/></div>
                    <div><div class="image-cntainer"><img src="~/lib/assites/Icons/social icons/github.svg" alt=""></div><input asp-for="ChangeUserData.LinkGithub" type="text" placeholder="هنا ضع الرابط" id="inputLinkGithub"/></div>
                </div>
            </div>
        </form>
    </div>

    <div class="edit-popup-shadow pass">
        <div class="popup-edit" method="post" enctype="multipart/form-data" asp-action="UpdateUserData" style="height:fit-content">
            <div class="edit-header">
                <div>
                    <div onclick="showAndHide('pass')" style="cursor: pointer;" class="image-container"><img src="~/lib/assites/Icons/close-x-icone.svg" alt=""></div>
                    <h2>تغيير كلمة السر</h2>
                </div>
            </div>

            <div class="edit-other-info">
            <form asp-action="ChangePasswrod" method="post">
                <div class="change-password">
                    <h4>تغيير كلمة السر</h4>
                    <div>
                        <input asp-for="ChangePassword.id" value="@(user.Id)" hidden/>
                        <small>كلمة المرور الجديدة</small>
                        <input asp-for="ChangePassword.NewPassword" type="text" class="input" placeholder="كلمة المرور الجديدة" >
                        <span asp-validation-for="ChangePassword.NewPassword" class="danger"></span>
                    </div>
                    <div>
                        <small>تأكيد كلمة المرور</small>
                        <input asp-for="ChangePassword.ComparePassword" type="text" class="input" placeholder="تأكيد كلمة المرور" >
                        <span asp-validation-for="ChangePassword.ComparePassword" class="danger"></span>
                    </div>
                    <button class="btn btn-primary btn-hover">تغيير كلمة المرور</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

<script>
    var linkTwitter = document.getElementById('linkTwitter');
    var linkBehance = document.getElementById('linkBehance');
    var linkInstgram = document.getElementById('linkInstgram');
    var linkGithub =document.getElementById('linkGithub');
    if(linkTwitter){
        document.getElementById('inputLinkTwitter').value =linkTwitter.href;
    }
    if(linkBehance){
        document.getElementById('inputLinkBehance').value=linkBehance.href;
    }
    if(linkInstgram){
        document.getElementById('inputLinkInstgram').value =linkInstgram.href;
    }
    if(linkGithub){
         document.getElementById('inputLinkGithub').value = linkGithub.href;
    }
    var loadFile = function(event,elementID){
            var reader= new FileReader();
            reader.onload = function(){
                var MyImg = document.getElementById(elementID);
                MyImg.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0])
        }
    
</script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
  